target/
**/*.rs.bk

data/
*.db
*.db-shm
*.db-wal

.git/
.gitignore
.ignore

.env

**/cumments.toml
**/registration.yaml

.devenv*
.direnv
.pijul
misc/frontend/

Dockerfile
docker-compose.yml
README.md

index.html
