.pijul
.ignore
.DS_Store

# Devenv
.devenv*
devenv.local.nix
.pre-commit-config.yaml

# direnv
.direnv

# Cumments
/target
/site
/data/*
!/data/.keep
**/cumments.toml
**/registration.yaml
misc/design/
